<ion-content>
    <div class="evaluation-select">
        <div class="card">
            <h2 class="mb-3">だれをひょうかする？</h2>
            <ion-button class="select-button" shape="round" expand="full">
                おとうさん
            </ion-button>
            <ion-button class="select-button" shape="round" expand="full">
                おかあさん
            </ion-button>
            <ion-button class="select-button" shape="round" expand="full">
                えらぶ
            </ion-button>
        </div>
    </div>
</ion-content>
